<h1><%= username %>'s Dashboard</h1>
<div id = notesContainer>
    <% notes.forEach(note => { %>
        <a class = noteLink href = '/dashboard/note/<%= note._id %>'>
            <div class = note>
                <h3> <%= note.title %></h3>
                <div id = noteBodyView>
                    <%= note.body %>
                </div>
                <p id = lastUpdatedAt> Last updated at: <%= note.updatedAt %></p>
            </div>
        </a>
    <% }); %>
    <a href = '/dashboard/add'>
        <div class = 'note newNote'>
            <p>+</p>
        </div>
    </a>
    
</div>  